@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  --color-blck: #111118;
  --color-white: #eaeaea;
  --color-blue: #0d1117;
  --color-orng: rgb(243, 119, 48);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-blck);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  /* background-color: var(--color-darkblue); */
}

.hamburger {
  display: none;
  /* color: var(--color-orng); */
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--color-orng);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 230px;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 11px;
  color: var(--color-white);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--color-white);
}

.nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

.nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-orng);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.nav-logo {
  font-size: 3rem;
  margin-right: auto;
  margin-left: 220px;
  font-weight: bold;
  color: var(--color-white);
}



/* header section */
.container {
  max-width: 100%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  position: relative;
  width: 1200px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-container {
  width: 560px;
  height: 500px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.title-container h1 {
  font-size: 7rem;
  color: var(--color-white);
}

.iam span {
  font-size: 7rem;
  /* background-color: var(--color-blck); */
  /* padding: 5px 30px; */
  color: var(--color-orng);
}

.title-container h2 {
  font-size: 3rem;
  color: var(--color-white);
}

.title-container p {
  width: 300px;
  font-size: 1.2rem;
  color: var(--color-white);

}

/* end header section */

.img-container {
  /* background-color: rgb(0, 60, 150); */
  width: 450px;
  height: 450px;
  display: grid;
  place-items: center;
}

.img-container img {
  border-radius: 3px;
  width: 400px;
  transition: all .3s ease-in-out;
}

.img-container img:hover {
  opacity: 50%;
  transform: scale(1.1);

}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: var(--color-white);
  cursor: pointer;
  margin-top: 20px;
  z-index: 1;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #2424249d;
  border-radius: 5px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 30px;
  height: 30px;
  background: #dddddd25;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}



.container-about {
  height: 70vh;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--color-white);
  /* background-color: red; */
}


.img1 {
  height: 500px;
  width: 300px;

}

.img1 img {
  cursor: pointer;
  width: 300px;
  padding: 20px;
  transition: all .3s ease-in-out;

}

.img1 img:hover {
  opacity: 50%;
  transform: scale(1.1);
}

.box-about {
  height: 400px;
  width: 630px;
  padding: 20px;
}

.title-page {
  font-size: 7rem;
  color: var(--color-orng);
}

.box-about p {
  width: 600px;
  font-size: 2rem;

}


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}



.container-skills {
  margin: 0;
  padding: 0;
  font-family: 'Open-sans', sans-serif;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.barcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;

  /* background: #ffffff; */
}

.journ-skills {
  width: 100%;
  margin-left: 50px;
  /* height: 100%; */
  min-width: 550px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0 20px;
  color: var(--color-orng);
}

h1 {
  font-size: 36px;
  text-align: center;
}

.journ-skills p {
  color: var(--color-white);
  max-width: 550px;
  font-size: 2rem;
}


.items-skill {
  color: var(--color-orng);
  display: flex;
  align-items: start;
}

.skills {
  width: 100%;
  max-width: 550px;
  padding: 0 20px;
  /* height: 320px;background-color: red; */
  margin-top: 10px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  color: var(--color-white);
}

.skill-bar {
  height: 20px;
  background: #eee;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: var(--color-orng);
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  top: -18px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
}




@media only screen and (max-width: 425px) {


  .hero-container {
    /* overflow-y: hidden; */
    /* position: relative; */
    width: 100%;
    height: 88vh;

  }

  .title-container {
    width: 100%;
    height: 310px;
    /* margin: ; */

  }

  .title-container h1 {
    font-size: 4rem;
    color: var(--color-white);
  }

  .iam span {
    font-size: 4rem;
    /* background-color: var(--color-blck); */
    /* padding: 5px 30px; */
    color: var(--color-orng);
  }

  .title-container h2 {
    font-size: 3rem;
    color: var(--color-white);
  }

  .title-container p {
    width: 300px;
    font-size: 1.2rem;
    color: var(--color-white);

  }

  /* end header section */

  .img-container {
    /* background-color: rgb(0, 60, 150); */
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }

  .img-container img {
    border-radius: 3px;
    width: 200px;
    transition: all .3s ease-in-out;
  }

  .img-container img:hover {
    opacity: 50%;
    transform: scale(1.1);

  }


  .container-about {
    height: 25vh;
    width: 100%;
    flex-wrap: wrap;
    color: var(--color-white);
    /* background-color: red; */
  }


  .img1 {
    display: none;

  }


  .box-about {
    height: 150px;
    width: 85%;
    /* background-color: yellow; */
    padding: 0px;
    /* padding-left: 10px; */
    /* padding-top: 10px; */

  }


  .title-page {
    font-size: 2rem;
    color: var(--color-orng);
    margin-bottom: 3px;
  }

  .box-about p {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: center;

  }

  .button-57 {
    display: block;
    place-items: center;
    font-size: 1rem;
    padding: 8px 11px 5px;
    margin-top: 8px;
    text-align: center;
  }















  .container-skills {
    margin: 0;
    padding: 0;
    font-family: 'Open-sans', sans-serif;
    min-height: 80vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .barcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    flex-direction: row;
    flex-wrap: wrap;

    /* background: #ffffff; */
  }

  .journ-skills {
    /* background-color: green; */
    /* width: 100px; */
    /* margin-left: 300px; */
    /* height: 100%; */
    min-width: 150px;
    display: flex;
    margin-left: -0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 12px;
    /* padding: 0 20px; */
    color: var(--color-orng);
  }

  .journ-skills h1 {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 4px;
    text-align: center;
    margin-right: auto;
  }

  .journ-skills p {
    color: var(--color-white);
    /* background-color: red; */
    max-width: 100%;
    font-size: 1rem;
  }


  .items-skill {
    color: var(--color-orng);
    display: flex;
    align-items: start;
    font-size: 2rem;
  }

  .skills {
    width: 100%;
    max-width: 550px;
    padding: 0 20px;
    /* height: 320px;background-color: red; */
    margin-top: 10px;
  }

  .skill-name {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 12px 0;
    color: var(--color-white);
  }

  .skill-bar {
    height: 10px;
    background: #eee;
    border-radius: 8px;
  }

  .skill-per {
    height: 10px;
    background-color: var(--color-orng);
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }

  .skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }

  .skill-per::after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 10px;
    height: 10px;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
  }



}
























@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--color-blck);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 9;
  }

  .nav-logo {
    margin-left: 10px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .bar {
    background-color: var(--color-orng);
  }

  .hamburger {
    margin-right: 15px;
    display: block;
    cursor: pointer;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}